*{
  margin:0;
  padding:0;
}

body{
}

#header{
  border-bottom: 1px solid lightblue;
  min-height: 150px;
  background-color: #777777;
  color: white;
  padding: 10px;
}

#footer{
  border-top: 1px solid lightblue;
  min-height: 100px;
  background-color: #777777;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#content{
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  width: 800px;
  margin: auto;
  min-height: 100%;
  padding: 30px;
}
